<div class="row">
    <div class="col-md-2">
        <app-comanda-list></app-comanda-list>
    </div>
    <div class="col-md-10">
        <app-item-list></app-item-list>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
 
    </div>
    <div class="col-md-10">
        <app-comanda-itens></app-comanda-itens>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-2">
        <app-comanda-list></app-comanda-list>
    </div>
    <div class="col-md-10">
        <app-nota-fiscal></app-nota-fiscal>
    </div>
</div> -->