<div class="row">
  <div class="col-md-2">
      <app-comanda-list></app-comanda-list>
  </div>
  <div class="col-md-10">
    <div *ngIf="!comanda.isClosed" class="alert alert-warning" role="alert">
      Não é possível exibir nota fiscal de uma comanda aberta
    </div>
    <div *ngIf="comanda.isClosed" class="container">
    <div class="bg-light p-5">
      <h1 class="text-center m-0">Bar do DG</h1>
      <div class="col-md-12 text-center">
        <h5 class="pt-4">Nota Fiscal</h5>
      </div>
         <div class="row pt-3 mb-2">
        <!-- <div class="col-md-6 pull-left"><img src="" class="img-responsive"></div> -->
        <div class="col-md-12 text-right">
          <h5 class="pt-4">Comanda {{comanda.id}}</h5>
          <p class="text-muted mb-0"><i>Due to: 4 Dec, 2019</i></p>
        </div>
      </div>
      <!-- <div class="row b-t pt-5">
        <div class="col-md-6 pt-3 center">
          <h5>Client Information</h5>
          <p>John Doe, Mrs Emma Downson<br>Acme Inc</p>
          <p>Berlin, Germany<br>6781 45P</p>
        </div>
        <div class="col-md-6 text-right">
          <h5>Payment Details</h5>
          <p>VAT: 1425782</p>
          <p>VAT ID: 10253642</p>
          <p>Payment Type: Root</p>
          <p>Name: John Doe</p>
        </div>
      </div> -->
      <table class="table">
        
        <thead>
            <tr>
          <td>Item</td>
          <td>Quantidade</td>
          <td>Valor</td>
        </tr>
        </thead>
        
        <tr *ngFor="let comandaItens of comandaItemList">
          <td>{{comandaItens.nomeItem}}</td>
          <td>{{comandaItens.quantidade}}</td>          
          <td><span>+ </span>R$ {{comandaItens.valorTotal}}</td>
        </tr>

        <div class="col-md-12 text-left">
          <h5 class="pt-4">Desconto</h5>
        </div>

        <thead>
          <tr>
        <td>Item</td>
        <td>Quantidade</td>
        <td>Valor Desconto</td>
      </tr>
      </thead>
      
      <tr *ngFor="let descontos of descontoList">
        <td>{{descontos.nomeItem}}</td>
        <td>{{descontos.quantidade}}</td>
        <td><span>- </span>R$ {{descontos.valorDesconto}}</td>
      </tr>
      </table>
    </div>
    <div class="bg-dark text-white p-5">
      <div class="row">
        <div class="col-md-4">		
        </div>
        <div class="col-md-3 text-right">
          <h6>Total parcial</h6>
          <h3 class="text-center">R${{totalParcial}}</h3>
        </div>
        <div class="col-md-2 text-right">
          <h6>Desconto</h6>
          <h3>R${{desconto}}</h3>
        </div>
        <div class="col-md-3 text-right">
          <h6>Total geral</h6>
          <h3>R${{totalParcial-desconto}}</h3>
        </div>
      </div>
    </div>
  
  </div>
</div>
</div>