
    <h2 class="section-header">COMANDA</h2>
    <div *ngIf="comandaItemList.length  === 0" class="alert alert-info">Comanda Vazia</div>
    <div *ngIf="comanda.isClosed" class="alert alert-danger">Comanda fechada</div>
    <div class="comanda-row">
        <span class="comanda-item comanda-header comanda-column">ITEM</span>
        <span class="comanda-price comanda-header comanda-column">PREÇO</span>
        <span class="comanda-quantity comanda-header comanda-column">QUANTIDADE</span>
    </div>
    
    <div class="comanda-items comanda-row" *ngFor="let comandaItem of comandaItemList" [value]="comandaItem">
        <div class="comanda-item comanda-column">
            <img class="comanda-item-image" src="../../../../assets/{{comandaItem.idItem}}.jpg" width="100" height="100">
            <span class="comanda-item-title">{{comandaItem.nomeItem}}</span>
        </div>
        <span class="comanda-price comanda-column">{{comandaItem.valorTotal}}</span>
        <div class="comanda-quantity comanda-column">
            <div class="example-button-row">
                <div class="example-flex-container">
                  <button *ngIf="!comanda.isClosed" (click)="addItem(comandaItem)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            <span class="comanda-quantity-span">{{comandaItem.quantidade}}</span>
            <div class="example-button-row">
                <div class="example-flex-container">
                  <button *ngIf="!comanda.isClosed" (click)="removeItem(comandaItem)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
            <!-- <input class="comanda-quantity-input" [(ngModel)]="comandaItem.quantidade" (change)="attValor(comandaItem)" type="number" value="{{comandaItem.quantidade}}"> -->
            <!-- <button class="btn btn-danger" (click)="removeItem(comandaItem)" type="button">REMOVER</button> -->
        </div>
    </div>
    <div class="comanda-total">
        <strong class="comanda-total-title">Total</strong>
        <span class="">{{comandaTotal}}</span>       
    </div>
    <div class="comanda-total">
      <app-promocao-parcial></app-promocao-parcial>
  </div>
   <div class="center-block text-center">
    <button *ngIf="!comanda.isClosed" (click)="saveItensComanda()" class="btn btn-primary btn-close" type="button">FECHAR COMANDA</button>
    <button *ngIf="comanda.isClosed" (click)="onSelect(comanda)" type="button" class="btn btn-primary btn-lg btn-close">VISUALIZAR NOTA</button>
    <button *ngIf="comanda.isClosed" type="button" class="btn btn-danger btn-lg btn-close">RESETAR COMANDA</button>
</div>